.header {
    display: grid;
    grid-template-columns: 20% auto 20%;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 20px;
    background: #232222;
    color: rgb(246, 248, 248);
    font-size: 85%;
}

.main_content_container {
    display: grid;
    grid-template-columns: 20% auto 20%;
    font-size:80%;
    margin-bottom: 50px;
}

.main_content_container_2 {
    display: grid;
    grid-template-columns:25% auto 25%;
    font-size:100%;
    margin-bottom: 50px;
}

.two_columns {
    display: grid;
    grid-template-columns: 50% 50%;
    }

.button_layout {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    
}

.footer {
    position: fixed;
    overflow: auto;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2px;
    text-align: right;
    background-color: #232222;
    color: rgb(246, 248, 248);
    font-size: 40%;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}
